<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="go(0)" color="primary" class="backButton">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-label class="titleToolbar">EVENTOS</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="card-background-page">

  <ion-card (click)="subscribeEvent(culto)" *ngFor="let culto of listaCultos"
    [ngClass]="{'greyScale': culto.vagas === 0}">
    <div class="container">
      <div class="tag">
        <h3 class="dateSquareText2">{{culto.letterMonth}}</h3>
        <h1 class="dateSquareText">{{culto.letterDate}}</h1>
      </div>
      <img src={{culto.type}}>
    </div>
    <div class="text">
      <h3 class="closeTextUpper"><b>{{culto.nome}}</b></h3>
      <h4 class="closeText"><b>({{culto.church}})</b></h4>
      <ion-card-subtitle class="closeText">Início às 19:00h</ion-card-subtitle>
      <meter min="0" low="{{culto.qtdLowVagas}}" high="{{culto.qtdHighVagas}}" max="{{culto.vagas}}" value="{{culto.qtdVagas}}"></meter><br>
    </div>
  </ion-card>

</ion-content>