<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="go(8)" color="primary" class="backButton">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-label class="titleToolbar">INSCREVER-SE</ion-label>
    <!-- <ion-button color="primary" class="rightButton">
      <ion-icon name="save-outline"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row style="max-height: 100px; border: 0.1px solid black; background-color: whitesmoke">
      <ion-col col-1>
        <img style="max-height: 90px" src="{{selectedEventImg}}">
      </ion-col>
      <ion-col col-11>
        <b>{{selectedEventNome}}</b>
        {{selectedEventData}}

        <select (change)="setSelectedQuantityTickets($event.target.value)" class="selectVagas">
          <option disabled>Qtd. Tickets</option>
          <option *ngFor="let t of selectedEventVagas" value="{{t.number}}">{{t.desc}}</option>
        </select>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="selectedQuantityTickets">
    <h5>Insira os dados da {{countPersona}}ª Pessoa</h5>
    <div>
      <ion-input [(ngModel)]="selectedPersonaNome" type="text" placeholder="Insira o nome aqui" required></ion-input>
      <ion-input [(ngModel)]="selectedPersonaFone" type="number" placeholder="Insira o telefone aqui" required>
      </ion-input>
      <ion-input [(ngModel)]="selectedPersonaCPF" type="number" placeholder="Insira o CPF aqui" required></ion-input>
    </div>
    <button (click)="cleanFormTickets()" class="cancelBtn">Limpar</button>
    <button (click)="addPersonaData()" class="saveBtn">Salvar</button>
  </ion-card>

</ion-content>