<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Pessoas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="row">
    <ion-card class="btnAdd" (click)="addIndividualPersona()">Adicionar</ion-card>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-toggle [(ngModel)]="showStatus"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>CPF</ion-label>
      <ion-toggle [(ngModel)]="showCPF"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Opções</ion-label>
      <ion-toggle [(ngModel)]="showOptions"></ion-toggle>
    </ion-item>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="personaLista">
          <div class="centeredX">INSCRITOS</div>
          <div class="counter">{{countTotal}}</div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="personaLista bkgGreen">
          <div class="centeredX">PRESENTES</div>
          <div class="counter">{{countGreen}}</div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="personaLista bkgRed">
          <div class="centeredX">AUSENTES</div>
          <div class="counter">{{countYellow}}</div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="personaLista bkgYellow">
          <div class="centeredX">CANCEL.</div>
          <div class="counter">{{countRed}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let p of listaPersonas" class="personaLista">
    {{p.count}} - {{p.nome}}<br>
    <div *ngIf='showCPF'>{{p.rg}}</div>
    <span *ngIf='p.status == "1" && showStatus' class="dot bkgRed"></span>
    <span *ngIf='p.status == "0" && showStatus' class="dot bkgGreen"></span>
    <span *ngIf='p.status == "2" && showStatus' class="dot bkgYellow"></span>
    <div *ngIf="showOptions" class="floatRight">
      <button class="btnValid bkgGreen" (click)="validatePersona(p)">Validar Entrada</button>
      <button class="btnValid bkgRed" (click)="cancelPersona(p)">Cancelar</button>
    </div>
  </ion-card>

</ion-content>