.personaLista{
    padding: 4%;
    color: black;
    font-weight: bold;
}

.btnAdd{
    padding: 2%;
    text-align: center;
    background-color: green;
    color: whitesmoke;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    float: right;
    padding-bottom: -150%;
  }

  .floatRight{     
    display: inline-block;
    float: right;
    padding-bottom: -150%;
  }

.centeredX{text-align: center; font-size: 9px;}

.counter{text-align: center; font-size: 25px;}

  .bkgRed{ background-color: red; color: whitesmoke }

  .bkgGreen{ background-color: green; color: whitesmoke; }

  .bkgYellow{ background-color: yellow; color: black; }

  .btnValid{padding: 10px; margin: 10px;}

  ion-toggle {
    --background: whitesmoke;
    --background-checked: gray;
  
    --handle-background: green;
    --handle-background-checked: green;
  }