.personaLista{
    padding: 4%;
    color: black;
    font-weight: bold;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    float: right;
    padding-bottom: -150%;
  }

  .bkgRed{ background-color: red }

  .bkgGreen{ background-color: green }