.qrCodeVal{
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 20px;
  COLOR: WHITESMOKE;
  transform: translate(-50%, -50%);
}

.btnQRCodeVal{
  position: absolute;
  left: 50%;
  top: 80%;
  background-color: red;
  transform: translate(-50%, -50%);
}