*{
  color:#000000;
}

.programCard{
  height: 170px;
  text-align: center;
}

.btnSections{
  margin-left: 25%;
  margin-left: 25%;
  width:50%;
  margin-top: 5%;
  margin-bottom: 5%;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.titleSections{
  margin-left: 5%;
  font-weight: bold;
}

ion-icon,
.select-md .select-icon .select-icon-inner{
  color:#000000;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  --border: none;
  }

  .toolbar-background {
    border: none;
}

.toolbar-conntainer{
  --border: none;
}

  .bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.backButton{
    float:left;
    margin-left:2%;
    border-radius: 1000px;
    font-size: 15px;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
    color:#000000;
  }

  .titleToolbar{
    color:#000000;
    font-weight: bold;
    text-align: center;
    float: left;
    text-align:left;
    position:relative;
    margin-top: 2%;
  }