<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="go(0)" color="primary" class="backButton">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="titleToolbar">Igreja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="titleSections">INFORMAÇÕES DE CONTATO</div>

  <ion-card>
    <div>
      <ion-icon name="call"></ion-icon>
      <ion-label>(81) 99652-6767</ion-label>
    </div>
    <div>
      <ion-icon name="globe"></ion-icon>
      SITE
    </div>
    <div>
      <ion-icon name="navigate-circle"></ion-icon>
      Rua Floriano Peixoto
    </div>
    <a class="btnSections" href="https://maps.app.goo.gl/iSo6fsTQ1KfMAZwq7">
      COMO CHEGAR?</a>
  </ion-card>

  <div class="titleSections">PROGRAMAÇÃO DA SEMANA</div>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card class="programCard">
          <ion-label>TER</ion-label><br>
          <ion-label>CULTO DE INSTRUÇÃO</ion-label><br>
          <ion-label>19:00H</ion-label>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="programCard">
          <ion-label>QUI</ion-label><br>
          <ion-label>CÍRCULO DE ORAÇÃO</ion-label><br>
          <ion-label>19:00H</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="programCard">
          <ion-label class="programCardTitle">DOM</ion-label><br>
          <ion-label class="programCardTitle">EBD</ion-label><br>
          <ion-label class="programCardTitle">09:00H</ion-label>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="programCard">
          <ion-label>DOM</ion-label><br>
          <ion-label>CULTO DE LOUVOR</ion-label><br>
          <ion-label>19:00H</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div class="titleSections">PROGRAMAÇÃO DA SEMANA</div>

  <div class="timeline">
    <div class="container left">
      <div class="content">
        <h2>2017</h2>
        <p>Lorem ipsum..</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2016</h2>
        <p>Lorem ipsum..</p>
      </div>
    </div>
  </div>

</ion-content>