*{
    color:#000000;
  }
  
  .contactSection{
    padding-top:5%;
    padding-bottom:5%;
  }
  
  .contactSections{
    font-size:16px;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    vertical-align: middle;
  }
  
  .contactSectionsIcon{
    font-size: 16px;
    color: #00669d!important;
  }
  
  .contactSectionsText{
    color: #4b4b4b;
    margin-left: 3%;
  }
  
  .btnSections{
    margin-left: 25%;
    margin-left: 25%;
    width:50%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
  }
  
  a:link, a:visited {
    background-color: #00669d;
    color: #ffffff;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .titleSections{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
    color: #393939;
  }
  
  .floatLeft{
    float: left;
  }
  
  .floatRight{
    float: right;
  }
  
  ion-icon {
    color:#ffffff;
  }
  
  ion-content {
    //--background: #CCCCCC url("../../assets/imgs/washington.jpg") no-repeat center !important;
    --background: #CCCCCC;  
  }
  
  ion-toolbar {
    // --background: transparent;
    // --ion-color-base: transparent !important;
    --background: #00669d;
    --ion-color-base: #00669d !important;
    --border: none;
    }
  
    .toolbar-background {
      border: none;
  }
  
  .toolbar-conntainer{
    --border: none;
  }
  
    .bar-header {
      border: 0px !important;
      border-bottom-color: transparent !important;
      background-image: none !important;
      border-bottom: none !important;
  }
  
  .backButton{
      float:left;
      margin-left:2%;
      border-radius: 1000px;
      font-size: 15px;
      background-repeat:no-repeat;
      border: none;
      overflow: hidden;
      outline:none;
      color:#000000;
    }
  
    .titleToolbar{
      color:#FFFFFF;
      float: left;
      text-align:left;
      position:relative;
      margin-top: 5%;
      font-size: 16px;
    }
    .page-header h1 {
      font-size: 3.26em;
      text-align: center;
      color: #efefef;
      text-shadow: 1px 1px 0 #000;
    }
    
    /** timeline box structure **/
    .timeline {
      list-style: none;
      padding: 20px 0 20px;
      position: relative;
    }
    
  .timeline-panel{
    margin-right: 5%;
  }
  
    .timeline:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 3px;
      background-color: rgba(255,255,255,0.8);
      left: 50%;
      margin-left: -1.5px;
    }
    
    .tldate {
      display: block;
      width: 200px;
      background: #00669d;
      border: 3px solid #212121;
      color: rgba(255,255,255,0.8);
      margin: 0 auto;
      padding: 3px 0;
      font-weight: bold;
      text-align: center;
      -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
    }
    
    .timeline li {
      margin-bottom: 25px;
      position: relative;
    }
    
    .timeline li:before, .timeline li:after {
      content: " ";
      display: table;
    }
    .timeline li:after {
      clear: both;
    }
    .timeline li:before, .timeline li:after {
      content: " ";
      display: table;
    }
    
    /** timeline panels **/
    .timeline li .timeline-panel {
      width: 46%;
      float: left;
      background: rgba(255,255,255,0.8);
      border: 1px solid #d4d4d4;
      padding: 20px;
      position: relative;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    }
    
    /** panel arrows **/
    .timeline li .timeline-panel:before {
      position: absolute;
      top: 26px;
      right: -15px;
      display: inline-block;
      border-top: 15px solid transparent;
      border-left: 15px solid #ccc;
      border-right: 0 solid #ccc;
      border-bottom: 15px solid transparent;
      content: " ";
    }
    
    .timeline li .timeline-panel:after {
      position: absolute;
      top: 27px;
      right: -14px;
      display: inline-block;
      border-top: 14px solid transparent;
      border-left: 14px solid #fff;
      border-right: 0 solid #fff;
      border-bottom: 14px solid transparent;
      content: " ";
    }
    .timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
      top:0;
      right:0;
      display: none;
      border: 0;
    }
    
    .timeline li.timeline-inverted .timeline-panel {
      float: right;
    }
    
    .timeline li.timeline-inverted .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
    
    .timeline li.timeline-inverted .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
    
    
    /** timeline circle icons **/
    .timeline li .tl-circ {
      position: absolute;
      top: 23px;
      left: 50%;
      text-align: center;
      background: #00669d;
      color: #fff;
      width: 35px;
      height: 35px;
      line-height: 35px;
      margin-left: -16px;
      border: 3px solid #90acc7;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      z-index: 99999;
    }
    
    
    /** timeline content **/
    
    .tl-heading h4 {
      margin: 0;
      color: #00669d;
    }
    
    .tl-body p, .tl-body ul {
      margin-bottom: 0;
    }
    
    .tl-body > p + p {
      margin-top: 5px;
    }
    
    /** media queries **/
    @media (max-width: 991px) {
      .timeline li .timeline-panel {
        width: 44%;
      }
    }
    
    @media (max-width: 700px) {
      .page-header h1 { font-size: 1.8em; }
      
      ul.timeline:before {
        left: 40px;
      }
      
      .tldate { width: 140px; }
    
      ul.timeline li .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
      }
    
      ul.timeline li .tl-circ {
        top: 22px;
        left: 22px;
        margin-left: 0;
    
      }
      ul.timeline > li > .tldate {
        margin: 0;
      }
    
      ul.timeline > li > .timeline-panel {
        float: right;
      }
    
      ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }
    
      ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }