<ion-content [fullscreen]="true">

  <div *ngIf="showLista">

    <ion-row>
      <ion-col *ngFor="let j of listaJogadores" size="4">
        <ion-card [ngClass]="{'bkgBlack': j.med == 5,
        'bkgGold': j.med == 4,
          'bkgSilver': j.med == 3,
          'bkgBronze': j.med < 3}" 
          class="personaLista" (click)="switchStatusCondition(j)">
          {{j.nome}}<br>
          <span *ngIf='j.status == "0"' class="dot bkgRed"></span>
          <span *ngIf='j.status == "1"' class="dot bkgGreen"></span>
        </ion-card>
      </ion-col>
    </ion-row>

    <div class="buttonArea">
      <ion-button (click)="generateTeams()" expand="block">Gerar Times</ion-button>
    </div>

  </div>

  <div *ngIf="!showLista">

    <div *ngFor="let time of timesArray" class="container-fluid cardEQP">
      <div *ngIf="time.jogadores.length > 0" class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="tile">
            <div class="wrapper">

              <div class="header"><b>{{time.nome}}</b></div>

              <ion-grid>

                <ion-row>

                  <ion-col>
                    <ion-card [ngClass]="{'bkgBlack': time.jogadores[0].med == 5,
                    'bkgGold': time.jogadores[0].med == 4,
                      'bkgSilver': time.jogadores[0].med == 3,
                      'bkgBronze': time.jogadores[0].med < 3}" class="jogadorCard">
                      <div>{{time.jogadores[0].nome}}</div>
                      <br>
                      <ion-grid>
                        <ion-row>
                          <ion-col class="innetTextJogacorCard">
                            VEL
                            {{time.jogadores[0].vel}}
                          </ion-col>
                          <ion-col class="innetTextJogacorCard">
                            DRI
                            {{time.jogadores[0].dri}}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="innetTextJogacorCard">
                            SHO
                            {{time.jogadores[0].sho}}
                          </ion-col>
                          <ion-col class="innetTextJogacorCard">
                            DEF
                            {{time.jogadores[0].def}}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="innetTextJogacorCard">
                            PAS
                            {{time.jogadores[0].pas}}
                          </ion-col>
                          <ion-col class="innetTextJogacorCard">
                            PHY
                            {{time.jogadores[0].phy}}
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card>
                  </ion-col>

                  <ion-col>
                    <ion-card [ngClass]="{'bkgBlack': time.jogadores[1].med == 5,
                    'bkgGold': time.jogadores[1].med == 4,
                      'bkgSilver': time.jogadores[1].med == 3,
                      'bkgBronze': time.jogadores[1].med < 3}" class="jogadorCard">
                      <div>{{time.jogadores[1].nome}}</div>
                      <br>
                      <ion-grid>
                        <ion-row>
                          <ion-col class="innetTextJogacorCard">
                            VEL
                            {{time.jogadores[1].vel}}
                          </ion-col>
                          <ion-col class="innetTextJogacorCard">
                            DRI
                            {{time.jogadores[1].dri}}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="innetTextJogacorCard">
                            SHO
                            {{time.jogadores[1].sho}}
                          </ion-col>
                          <ion-col class="innetTextJogacorCard">
                            DEF
                            {{time.jogadores[1].def}}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="innetTextJogacorCard">
                            PAS
                            {{time.jogadores[1].pas}}
                          </ion-col>
                          <ion-col class="innetTextJogacorCard">
                            PHY
                            {{time.jogadores[1].phy}}
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card>
                  </ion-col>

                </ion-row>

                <ion-row>

                  <ion-col>
                    <ion-card [ngClass]="{'bkgBlack': time.jogadores[2].med == 5,
                    'bkgGold': time.jogadores[2].med == 4,
                      'bkgSilver': time.jogadores[2].med == 3,
                      'bkgBronze': time.jogadores[2].med < 3}" class="jogadorCard">
                      <div>{{time.jogadores[2].nome}}</div>
                      <br>
                      <ion-grid>
                        <ion-row>
                          <ion-col class="innetTextJogacorCard">
                            VEL
                            {{time.jogadores[2].vel}}
                          </ion-col>
                          <ion-col class="innetTextJogacorCard">
                            DRI
                            {{time.jogadores[2].dri}}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="innetTextJogacorCard">
                            SHO
                            {{time.jogadores[2].sho}}
                          </ion-col>
                          <ion-col class="innetTextJogacorCard">
                            DEF
                            {{time.jogadores[2].def}}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="innetTextJogacorCard">
                            PAS
                            {{time.jogadores[2].pas}}
                          </ion-col>
                          <ion-col class="innetTextJogacorCard">
                            PHY
                            {{time.jogadores[2].phy}}
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card>
                  </ion-col>

                  <ion-col>
                    <ion-card [ngClass]="{'bkgBlack': time.jogadores[3].med == 5,
                    'bkgGold': time.jogadores[3].med == 4,
                      'bkgSilver': time.jogadores[3].med == 3,
                      'bkgBronze': time.jogadores[3].med < 3}" class="jogadorCard">
                      <div>{{time.jogadores[3].nome}}</div>
                      <br>
                      <ion-grid>
                        <ion-row>
                          <ion-col class="innetTextJogacorCard">
                            VEL
                            {{time.jogadores[3].vel}}
                          </ion-col>
                          <ion-col class="innetTextJogacorCard">
                            DRI
                            {{time.jogadores[3].dri}}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="innetTextJogacorCard">
                            SHO
                            {{time.jogadores[3].sho}}
                          </ion-col>
                          <ion-col class="innetTextJogacorCard">
                            DEF
                            {{time.jogadores[3].def}}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="innetTextJogacorCard">
                            PAS
                            {{time.jogadores[3].pas}}
                          </ion-col>
                          <ion-col class="innetTextJogacorCard">
                            PHY
                            {{time.jogadores[3].phy}}
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card>
                  </ion-col>

                </ion-row>

              </ion-grid>

              <div class="dates">
                <div class="start">
                  <strong>MÉDIA DO TIME</strong> {{time.statsMED}}
                  <span></span>
                </div>
                <div class="ends">
                  <strong>TOTAL DE PONTOS</strong> {{time.totalPts}}
                </div>
              </div>

              <div class="stats">

                <div>
                  <strong>VEL</strong> {{time.statsVEL}}
                </div>

                <div>
                  <strong>DRI</strong> {{time.statsDRI}}
                </div>

              </div>

              <div class="stats">

                <div>
                  <strong>SHO</strong> {{time.statsSHO}}
                </div>

                <div>
                  <strong>DEF</strong> {{time.statsDEF}}
                </div>

              </div>

              <div class="stats">

                <div>
                  <strong>PAS</strong> {{time.statsPAS}}
                </div>

                <div>
                  <strong>PHY</strong> {{time.statsPHY}}
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="outTime.length > 0" class="container-fluid cardEQP">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="tile">
            <div class="wrapper">
              <div class="header"><b>Sem Time</b>

                <ion-grid>
                  <ion-row>

                    <ion-col *ngFor="let jogador of outTime">
                      <ion-card [ngClass]="{'bkgBlack': jogador.med == 5,
                      'bkgGold': jogador.med == 4,
                        'bkgSilver': jogador.med == 3,
                        'bkgBronze': jogador.med < 3}" class="jogadorCard">
                        {{jogador.nome}}
                        <br>
                        <ion-grid>
                          <ion-row>
                            <ion-col class="innetTextJogacorCard">
                              VEL
                              {{jogador.vel}}
                            </ion-col>
                            <ion-col class="innetTextJogacorCard">
                              DRI
                              {{jogador.dri}}
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col class="innetTextJogacorCard">
                              SHO
                              {{jogador.sho}}
                            </ion-col>
                            <ion-col class="innetTextJogacorCard">
                              DEF
                              {{jogador.def}}
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col class="innetTextJogacorCard">
                              PAS
                              {{jogador.pas}}
                            </ion-col>
                            <ion-col class="innetTextJogacorCard">
                              PHY
                              {{jogador.phy}}
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card>
                    </ion-col>

                  </ion-row>
                </ion-grid>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</ion-content>